.header {
  position: absolute;
  left: 0;
  z-index: 50;
  min-height: 10px;

  &__body {
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px 0;
    width: 100%;
    min-height: adaptive-value(25px, 50px, $xxs, $template-size);
    background-color: transparent;
    transition: background-color 0.3s ease 0s, padding 0.3s ease 0s;
  }

  // .header__container

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 45px;
    transition: min-height 0.3s ease 0s;
    gap: 5px;
  }

  // .header__block

  &__block {
    display: flex;
    flex: 0 0 25%;
    gap: 25px;
  }

  [data-select="lang"] {
    @media (max-width: $md) {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  // .header__logo

  &__logo {
  }

  // .header__nav

  &__nav {
    flex: 1 1 50%;
  }

  // .header__phones

  &__phones {
    flex: 0 0 25%;
  }

  &__burger {
  }

  &._scroll {
    .header__body {
      padding: 0;
      background-color: cl(color-ultra-dark);
    }
  }
}
