.nav {
  // .nav__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: adaptive-value(5px, 10px, $xxs, $template-size) adaptive-value(10px, 40px, $xxs, $template-size);
  }

  // .nav__item

  &__item {
    font: cl(font-base);
    color: cl(color-white);
  }

  // .nav__link

  &__link {
  }
}
