.page {
  // .page__hero
  &__hero {
    margin-bottom: adaptive-value(10px, 60px, $xxs, $template-size);
  }

  // .page__aboutus
  &__aboutus {
    margin-bottom: adaptive-value(10px, 30px, $xxs, $template-size);
  }

  // .page__services
  &__services {
    margin-bottom: adaptive-value(0px, 10px, $xxs, $template-size);
  }

  // .page__effective
  &__effective {
    margin-bottom: adaptive-value(0px, 95px, 649px, $template-size);
  }

  // .page__purpose
  &__purpose {
    margin-bottom: adaptive-value(15px, 80px, 649px, $template-size);
  }

  // .page__connecting
  &__connecting {
    margin-bottom: adaptive-value(0, 85px, $xxs, $template-size);
  }

  // .page__prices
  &__prices {
  }
}
