.phones {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    color: cl(color-white);
    gap: 5px;
  }

  // .phones__item

  &__item {
    display: flex;
    column-gap: adaptive-value(6px, 12px, $xxs, $template-size);
    align-items: flex-end;
    justify-content: center;
  }

  // .phones__name

  &__name {
    font: cl(font-base);
    font-size: adaptive-value(10px, 12px, $xxs, $template-size);
  }

  // .phones__tel

  &__tel {
    font: cl(font-bold);
    font-size: adaptive-value(16px, 17px, $xxs, $template-size);
    white-space: nowrap;

    &._underline::after {
      bottom: 0;
    }
  }
}
