<section class="page__aboutus aboutus" id="aboutus">
    <div class="aboutus__container _container">
        <h2 class="aboutus__title section-title">О нас</h2>
        <p class="aboutus__text section-text">IT-SPK&nbsp;&mdash; сервисная компания по&nbsp;обслуживанию АйТи инфраструктуры для бизнеса. Мы&nbsp;небольшая команда фанатов своего дела c&nbsp;многолетним опытом работы. Решаем любые&nbsp;ИТ задачи в&nbsp;Киеве: проектирование, монтаж и&nbsp;поддержка&nbsp;ИТ инфраструктуры, настройка и&nbsp;поддержка серверов, виртуализация, обслуживание компьютеров, поддержка пользователей.</p>
    </div>
</section>