<section class="page__clients clients" id="clients">
    <div class="clients__container _container">
        <h2 class="clients__title section-title">Клиенты</h2>
        <ul class="clients__items _list-reset">
            <li class="clients__item _img-holder _img-holder_contain">
                <img src="../img/clients/01.png" alt="company name">
            </li>
            <li class="clients__item _img-holder _img-holder_contain">
                <img src="../img/clients/02.png" alt="company name">
            </li>
            <li class="clients__item _img-holder _img-holder_contain">
                <img src="../img/clients/03.png" alt="company name">
            </li>
            <li class="clients__item _img-holder _img-holder_contain">
                <img src="../img/clients/04.png" alt="company name">
            </li>
            <li class="clients__item _img-holder _img-holder_contain">
                <img src="../img/clients/05.png" alt="company name">
            </li>
        </ul>
    </div>
</section>