<section class="page__connecting connecting" id="connecting">
    <div class="connecting__container _container">
       <h2 class="connecting__title section-title_sub">Подключить обслуживание компьютеров у нас очень просто</h2>
        <ol class="connecting__list _list-reset">
            <li class="connecting__items">Оставить заявку на сайте или просто позвонить нам</li>
            <li class="connecting__items">Мы проведем бесплатный аудит и подготовим коммерческое предложение</li>
            <li class="connecting__items">Заключаем договор и ваш офис работает безотказно</li>
        </ol>
    </div>
 </section>