<section class="page__effective effective" id="effective">
    <div class="effective__container _container">
        <h3 class="effective__title section-title_sub">C&nbsp;IT-SPK ваш офис будет работать эффективно и&nbsp;безотказно</h3>
        <div class="effective__body">
            <p class="effective__text section-text">За&nbsp;время работы мы&nbsp;подобрали оптимальные решения по&nbsp;соотношению цена-качество для организации офисной IT-инфраструктуры. Огромный опыт обслуживания объектов в&nbsp;Киеве от&nbsp;офиса на&nbsp;несколько рабочих мест до&nbsp;офисно-производственных комплексов на&nbsp;тысячи квадратных метров и&nbsp;более полутора сотен подключенных абонентов.</p>
            <p class="effective__text section-text">Абонентское обслуживание компьютеров в&nbsp;Киеве уже сейчас не&nbsp;оставляет шансов на&nbsp;выживание обычным сисадминам в&nbsp;штате компании, прежний подход дороже и&nbsp;неэффективный. С&nbsp;первого дня работы с&nbsp;нами вы&nbsp;получаете доступ ко&nbsp;всем нашим знаниям, опыту и&nbsp;ресурсам.</p>
        </div>
        <button class="effective__btn btn btn_primary _btn-reset icon icon-arrow">Отправить заявку</button>
    </div>
</section>