<footer class="footer">
  <div class="footer__container _container">
    <div class="footer__contacts contacts">
      <ul class="contacts__list _list-reset">
        <li class="contacts__item">
          <a href="mailto:info@it-spk.com" class="contacts__email _link-reset">info@it-spk.com</a>
        </li>
        <li class="contacts__item phones">
          <ul class="phones__list _list-reset">
            <li class="phones__item">
              <span class="phones__name">lifecell</span>
              <a class="phones__tel _link-reset" href="tel:+380935412092">+380 93 541 20 92</a>
            </li>
            <li class="phones__item">
              <span class="phones__name">Vodafone</span>
              <a class="phones__tel _link-reset" href="tel:+380993112979">+380 99 311 29 79</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="footer__about about">
      <ul class="about__list _list-reset">
        <li class="about__item">
          <span class="about__text">Обслуживание компьютеров и&nbsp;монтаж сетей в&nbsp;Киеве</span>
        </li>
        <li class="about__item"><span class="about__copyright">IT-SPK © 2021</span></li>
      </ul>
    </div>
  </div>
</footer>
