<header class="header">
  <div class="_container header__container">
    <div class="header__block">
      <div class="header__logo logo _img-holder">
        <img src="./img/logo.svg" alt="IT-SPK">
      </div>
      <select data-select='lang' name="kok" id="langs">
        <option data-google-lang="ru" value="ru">RU</option>
        <option data-google-lang="uk" value="ua">UA</option>
      </select>
    </div>
    <nav class="header__nav nav">
      <ul data-da=".menu-burger__body, 802, 2" class="nav__list _list-reset">
        <li class="nav__item">
          <a data-scroll_to="#aboutus" href=" #aboutus" class="nav__link _link-reset">О нас</a>
        </li>
        <li class="nav__item">
          <a data-scroll_to="#services" href="#services" class="nav__link _link-reset">Услуги</a>
        </li>
        <li class="nav__item">
          <a data-scroll_to="#prices" href="#prices" class="nav__link _link-reset">Цены</a>
        </li>
      </ul>
    </nav>
    <div class="header__phones phones">
      <ul data-da=".menu-burger__body, 802, 1" class="phones__list _list-reset">
        <li class="phones__item">
          <span class="phones__name">lifecell</span>
          <a class="phones__tel _link-reset" href="tel:+380935412092">+380 93 541 20 92</a>
        </li>
        <li class="phones__item">
          <span class="phones__name">Vodafone</span>
          <a class="phones__tel _link-reset" href="tel:+380993112979">+380 99 311 29 79</a>
        </li>
      </ul>
    </div>
    <div data-burger class="header__burger burger">
      <button type="button" data-burger_button class="burger__icon _btn-reset">
        <span></span>
      </button>
      <ul class="burger__menu menu-burger _list-reset">
        <div class="menu-burger__body">
          <div class="burger__logo logo _img-holder">
            <img src="./img/logo2.svg" alt="IT-SPK">
          </div>
        </div>
      </ul>
    </div>
  </div>
</header>