<section class="page__hero hero" id="hero">
  <div class="hero__container _container">
    <h1 class="hero__title">IT-Аутсорсинг компаниям в&nbsp;Киеве</h1>
    <div class="hero__text">
      <p class="hero__subtitle">Обслуживание компьютеров в&nbsp;Киеве</p>
      <p class="hero__price hero__price_1">От&nbsp;<strong class="hero__numbers">315</strong><strong class="hero__letters">грн</strong>/мес</p>
      <p class="hero__price hero__price_2">за&nbsp;1&nbsp;рабочее место</p>
    </div>
    <div class="hero__row">
      <button class="hero__btn btn btn_primary _btn-reset icon icon-arrow">Отправить заявку</button>
      <p class="hero__buy-text">Мы&nbsp;знаем как сложно найти хорошую компанию по&nbsp;обслуживанию компьютеров в&nbsp;Киеве. Исправим это!</p>
    </div>
  </div>
</section>
