<section class="page__prices prices" id="prices">
    <div class="prices__container _container">
        <h2 class="prices__title section-title">Цены</h2>
        <div class="prices__body">
            <div class="prices__col">
                <p class="prices__description section-text">У&nbsp;нас нет зарплаты или фиксированной суммы в&nbsp;месяц, все рассчеты базируются только на&nbsp;количестве компьютеров, которые мы&nbsp;берем на&nbsp;обслуживание и&nbsp;подключенных услугах. Платите только за&nbsp;что чем пользуетесь&nbsp;&mdash; <strong>максимальная экономия и&nbsp;эффективность</strong>.<br><br>Оставьте заявку на&nbsp;обслуживание компьютеров и&nbsp;мы&nbsp;подготовим предложение специально для вас</p>
                <div class="prices__actions">
                    <button class="btn btn_secondary _btn-reset icon icon-download">Прайс it</button>
                    <button class="btn btn_secondary _btn-reset icon icon-download">Прайс монтаж</button>
                </div>
            </div>
            <ul data-da=".prices__col, 1085, 1" class="prices__items _list-reset">
                <li class="prices__item">
                    @include('./price-card.html', {'type': 'Тарифный план', 'name': 'Легкий старт', 'price': '350', 'currency': 'грн/мес', 'count': 'за 1 рабочее место'})
                </li>
                <li class="prices__item">
                    @include('./price-card.html', {'type': 'Тарифный план', 'name': 'Бизнес', 'price': '315', 'currency': 'грн/мес', 'count': 'от 15 рабочих мест'})
                </li>
            </ul>
        </div>
    </div>
 </section>