<section class="page__purpose purpose" id="purpose">
    <div class="purpose__container _container" data-da="#effective, 649, first">
        <h2 class="purpose__title section-title title-purpose">
           <span class="title-purpose__img _img-holder _img-holder_contain">
               <img src="./img/purpose/01.svg" alt="Цель IT-SPK">
           </span>
            <span class="title-purpose__text">Цель IT-SPK</span>
        </h2>
        <p class="purpose__subtitle section-title_sub">Сократить расходы на&nbsp;ИТ + оптимизировать работу = увеличить вашу прибыль и&nbsp;отрыв от&nbsp;конкурентов</p>
    </div>
</section>