<section class="page__services services" id="services">
    <div class="services__container _container">
       <h2 class="services__title section-title">Услуги</h2>
        <ul class="services__list _list-reset">
            <li class="services__item">
                @include('./item-service.html', {'text': 'Обслуживание компьютеров', 'img': './img/services/01.svg', 'parent-class': 'services'})
            </li>
            <li class="services__item">
                @include('./item-service.html', {'text': 'Обслуживание серверов', 'img': './img/services/02.svg', 'parent-class': 'services'})
            </li>
            <li class="services__item">
                @include('./item-service.html', {'text': 'Виртуализация 1С', 'img': './img/services/03.svg', 'parent-class': 'services'})
            </li>
            <li class="services__item">
                @include('./item-service.html', {'text': 'Аудит ИТ‑инфраструктуры и проектирование', 'img': './img/services/04.svg', 'parent-class': 'services'})
            </li>
            <li class="services__item">
                @include('./item-service.html', {'text': 'Резервное копирование', 'img': './img/services/05.svg', 'parent-class': 'services'})
            </li>
            <li class="services__item">
                @include('./item-service.html', {'text': 'Переезд ИТ инфраструктуры', 'img': './img/services/06.svg', 'parent-class': 'services'})
            </li>
        </ul>
    </div>
 </section>