// Functions are stored here
@use "sass:math";

// ========================================================================================================================================================================

@function hextorgb($hex) {
  @return red($hex), green($hex), blue($hex);
}

@function cl($name, $opacity: false) {
  @if $opacity {
    @return rgba(var(--#{unquote($name)}), $opacity);
  } @else {
    @if "color" == str-slice($name, 1, 5) {
      @return rgb(var(--#{unquote($name)}));
    } @else {
      @return var(--#{unquote($name)});
    }
  }
}

@function adaptive-value($startSize, $minSize, $maxWidth) {
  $addSize: 0;

  @if ($startSize > $minSize) {
    $addSize: $startSize - $minSize;
  } @else {
    $addSize: $minSize - $startSize;
  }

  @return calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
}

// ========================================================================================================================================================================
