// Here are the main styles for all pages.

// ====================================================================================================================================================================

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: cl(font-family), serif;
  background-color: $background;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

._link-reset {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

._list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

._is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: clip;
  min-height: 100vh;
}

._is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

._for-mobile {
  display: none;
}


._btn-reset {
  border: none;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
}

._fieldset-reset {
  border: none;
  padding: 0;
  margin-inline: 0;
  min-inline-size: unset;
  padding-block: 0;
  padding-inline: 0;
}

._hidden {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

._underline {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    display: block;
    width: 0;
    height: 1px;
    background: cl(color-light);
    transition: width 0.5s ease 0s, right 0.5s ease 0s;
  }

  &:hover::after,
  &._active::after {
    width: 100%;
  }
}

._container {
  margin: 0 auto;
  padding: 0 #{$safe-padding}px;
  max-width: #{$container-size - ($safe-padding * 2)}px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

._scroll-disabled {
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  &_horizontal {
    overflow-x: hidden;
    width: 100vw;
  }

  &_vertical {
    overflow-y: hidden;
    height: 100vh;
  }
}

._img-holder {
  position: relative;

  img,
  use {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &_contain {
    img {
      object-fit: contain;
    }
  }
}

.goog-text-highlight {
  box-shadow: none !important;
  background: none !important;
}

.skiptranslate {
  @extend ._hidden;
}

.btn {
  padding: 15px 22px;
  width: auto;
  font: cl(font-bold);
  font-size: 14px;
  letter-spacing: 0.05em;
  white-space: nowrap;
  text-transform: uppercase;
  transition: box-shadow 0.5s ease;

  &_primary {
    color: cl(color-text);
    background: cl(color-light);

    &:active {
      box-shadow: 0 4px 4px cl(color-black, 0.25);
      transition: box-shadow 0.25s ease;

      &.icon-arrow::after {
        transform: translateX(4px);
      }
    }

    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0 4px 4px cl(color-black, 0.25);
        transition: box-shadow 0.5s ease;

        &.icon-arrow::after {
          transform: translateX(4px);
        }
      }

      &:active {
        box-shadow: none;
        transition: box-shadow 0.25s ease;

        &.icon-arrow::after {
          transform: translateX(0);
        }
      }

      &.icon-arrow {
        transition-duration: 0.1s;
      }
    }
  }

  &_secondary {
    position: relative;
    border: 2px solid currentColor;
    padding: adaptive-value(12px, 15px, $xxs, $template-size) adaptive-value(5px, 22px, $xxs, $template-size);
    font-size: adaptive-value(12px, 14px, $xxs, $template-size);
    color: cl(color-dark);
    background: transparent;

    &::before {
      content: "";
      position: absolute;
      left: -5px;
      right: -5px;
      top: -5px;
      bottom: -5px;
      z-index: -1;
      background: cl(color-gray);
      transform: scale(0);
      transition: transform 0.2s ease;
    }

    &:active {
      &::before {
        transform: scale(1);
      }

      &.icon-download {
        &::after {
          transform: scale(0.75);
        }
      }
    }

    &.icon {
      &::after {
        font-size: adaptive-value(22px, 24px, $xxs, $template-size);
      }
    }

    @media (any-hover: hover) {
      &:hover {
        &::before {
          transform: scale(1);
        }
      }

      &:active {
        &::before {
          transform: scale(0);
        }
      }
    }
  }
}

.logo {
  width: 126px;
  height: 42px;
  cursor: pointer;
}

.section {
  // .section-text
  &-text {
    margin: 0;
    padding: 0;
    max-width: fit-content;
    font: cl(font-base);
    color: cl(color-txt);
  }

  // .section-title,
  // .section-title_sub
  &-title,
  &-title_sub {
    margin: 0;
    padding: 0;
    max-width: fit-content;
    font: cl(font-title);
    color: cl(color-dark);
    cursor: default;
  }

  // .section-title_sub
  &-title_sub {
    font: cl(font-bold);
  }
}

.checkbox {
  position: relative;
  display: inline-block;
  margin: 0;
  height: 20px;

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: none;
    pointer-events: none;
  }

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
    font: cl(font-base);
    font-size: 10px;
    color: cl(color-txt-light);
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    user-select: none;
    -webkit-touch-callout: none;

    &::before {
      content: "";
      position: relative;
      display: inline-block;
      margin-right: 10px;
      width: 20px;
      height: 100%;
      box-sizing: border-box;
      background-color: cl(color-white);
      transition: opacity 0.3s ease-in-out;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      display: inline-block;
      margin-right: 10px;
      width: 20px;
      height: 100%;
      color: cl(color-white);
      fill: currentColor;
      background: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='8' height='8' fill='%23001E42'/%3E%3C/svg%3E%0A") center/50% no-repeat;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }

  &__input._error ~ &__label::before {
    border: 1px cl(color-error) solid;
  }

  &__input:checked + &__label::after {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  &__label:hover + &__label::before {
    background: cl(color-dark);
  }
}

// ========================================================================================================================================================================
