@font-face {
  src: url("../fonts/itspk-icons.woff2") format("woff2");
  font-family: "itspk-icons";
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    position: relative;
    margin-left: 11px;
    font-family: "itspk-icons", sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant: normal;
    text-decoration: none;
    text-transform: none;
    background-color: inherit;
    transition: transform 0.3s ease;
  }

  &-left {
    flex-direction: row-reverse;
  }

  &-arrow::after {
    content: "\E001";
    transform: translateX(0);
  }

  &-download::after {
    content: "\E002";
    top: 0;
  }

  &-tick {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    &::after {
      content: "\E003";
      margin-bottom: 25px;
      margin-left: 0;
    }
  }
}
