@font-face {
	font-family: "itspk-icons";
	src: url('../fonts/itspk-icons.eot');
	src: url('../fonts/itspk-icons.eot?#iefix') format('eot'),
		url('../fonts/itspk-icons.woff2') format('woff2'),
		url('../fonts/itspk-icons.woff') format('woff'),
		url('../fonts/itspk-icons.ttf') format('truetype'),
		url('../fonts/itspk-icons.svg#itspk-icons') format('svg');
}

.icon:before {
	font-family: "itspk-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-arrow:before {
	content: "\E001";
}

.icon-download:before {
	content: "\E002";
}
