// === Sass imports ===================================================================================================================================================

// ====================================================================================================================================================================

// === functions are connected here. ==================================================================================================================================

@import "functions";

// ====================================================================================================================================================================

// === Mixins are connected here. =====================================================================================================================================

@import "mixins";

// ====================================================================================================================================================================

// === Settings =======================================================================================================================================================

// ==== Font Settings =================================================================================================================================================

$font-base-size: 16;
$font-family: "Montserrat";

// ====================================================================================================================================================================

// ==== Site Settings =================================================================================================================================================

$container-size: 1090;
$safe-padding: 15;
$background: cl(color-biscay);
$template-size: 1440;

// ====================================================================================================================================================================

// ==== Adaptive Settings ==============================================================================================================================================

$xxs: 320px;
$xs: 375px;
$sm: 425px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;

// ====================================================================================================================================================================

// ====================================================================================================================================================================
