// Your variables are stored here

// ====================================================================================================================================================================

:root {
  // Colors
  --color-black: #{hextorgb(#000)};
  --color-white: #{hextorgb(#fff)};
  --color-dark: #{hextorgb(#001e42)};
  --color-light: #{hextorgb(#00feff)};
  --color-txt: #{hextorgb(#252d37)};
  --color-txt-light: #{hextorgb(#a5aaaf)};
  --color-ultra-dark: #{hextorgb(#06182f)};
  --color-midnight-blue: #{hextorgb(#013571)};
  --color-gray: #{hextorgb(#f2f2f2)};
  --color-text: #{hextorgb(#002047)};

  // Indents
  --section-offset: 60px;

  // Borders
  --border-radius: 4px;

  // Fonts
  --font-family: "Montserrat", sans-serif;

  // Typefaces
  --font-base: 400 #{adaptive-value(18, 16, 1120)} / 140% #{cl(font-family)};
  --font-title: 700 #{adaptive-value(50, 36, 1120)} / 140% #{cl(font-family)};
  --font-bold: 700 #{adaptive-value(24, 22, 1120)} / 140% #{cl(font-family)};
}

// ====================================================================================================================================================================
