// Your variables are stored here

// ====================================================================================================================================================================

:root {
  // Colors
  --color-black: #{hextorgb(#000)};
  --color-white: #{hextorgb(#fff)};
  --color-dark: #{hextorgb(#001e42)};
  --color-light: #{hextorgb(#00feff)};
  --color-txt: #{hextorgb(#252d37)};
  --color-txt-light: #{hextorgb(#a5aaaf)};
  --color-ultra-dark: #{hextorgb(#06182f)};
  --color-midnight-blue: #{hextorgb(#013571)};

  // Indents
  --section-offset: 60px;

  // Borders
  --border-radius: 4px;

  // Fonts
  --font-family: "Montserrat", sans-serif;

  // Typefaces
  --font-base: 400 18px / 140% var(--font-family);
  --font-title: 700 50px / 140% var(--font-family);
  --font-bold: 700 24px / 130% var(--font-family);
  --font-mob-base: 400 16px / 140% var(--font-family);
  --font-mob-bold: 700 22px / 130% var(--font-family);
  --font-mob-tite: 700 36px / 140% var(--font-family);
}

// ====================================================================================================================================================================
